language: node_js
node_js:
  - 0.8
before_script:
  - npm install -g grunt-cli
deploy:
  provider: openshift
  user: jebrown@redhat.com
  password:
    secure: OXubUNbKMasAzyJFum07ZjtSbl3C2kuI8cbr0L1E5Z73hPxRDhkaDRcGheS2+AHq3JTkbZc1HMHgCbQlqjOjSQDsTApsBClph5GpDi9bQbGbO17eIeee2HWnM3bzrKsX+CekEpuLlAKH+f8TZWY7NBOfXfm1++zsMURJbV8z3k8=
  app: pressos
  domain: runningonthe
  on:
    repo: tenfourty/pressos
